body{
    margin: 0;
    padding: 0 ;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: #f59e4d;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: auto;
    height: 90px;
   
}

.menu{
    background-color: green;
}